html {
  scroll-behavior: smooth;
}
.siteheader {
 
    color: white;
    background: black;
    padding: 20px;
    width: 100%;
    margin: 0;
    
}
.formulae{
    padding-left: 20px;
    font-weight: bold;
}
.formulae1{
    padding-left: 55px;
    font-weight: bold;
}


.card {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    padding: 10px;
}

.contentHolder h3{
    font-family: initial;
    margin: 20px;
}

.contentHolder p{
    font-family: revert;
    margin: 20px;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  border: 2px solid Black;
 
  cursor: pointer; 
  font-weight: 800;
  border-radius: 50%; 
  font-size: 18px; 
  margin: auto;
  padding: 13px 17px 13px;
  background-color: black;
  color: white ;    
}
.table1{
    padding-left: 100px;
    font-weight: bold;
    font-size: 20px;
}
